In [1]:
import csv
from pathlib import Path

import pandas as pd

In [2]:
model = "wic6"
wic_path = f"../input/wic/dwug_en/scores/models/{model}/train"
wic_path_input = "../input/wic/dwug_en"
path_to_gold_data_dwug_en = "../test_data_en.csv"
path_to_annotated_data_dwug_en = "../dwug_en/data"

In [3]:
p = next(Path(wic_path_input).glob("*.data"))
data_input = pd.read_json(p)
display(data_input)

,id,lemma,pos,sentence1,sentence2,start1,end1,start2,end2
0,dev.graft_nn.0,graft_nn,NOUN,A maiden plant (a tree but one year from the g...,"Fine mould or peat, from the box in which the ...",45,50,99,105
1,dev.graft_nn.1,graft_nn,NOUN,A maiden plant (a tree but one year from the g...,"For the same reason, root-grafting the pear is...",45,50,150,156
2,dev.graft_nn.2,graft_nn,NOUN,A maiden plant (a tree but one year from the g...,Grafts often bear some fine clusters the first...,45,50,0,6
3,dev.graft_nn.3,graft_nn,NOUN,A maiden plant (a tree but one year from the g...,"In all cases success is more certain, when the...",45,50,206,211
4,dev.graft_nn.4,graft_nn,NOUN,A maiden plant (a tree but one year from the g...,""" Mr. STOMS asks: ' Why graft on the quince st...",45,50,24,29
...,...,...,...,...,...,...,...,...,...
898307,dev.head_nn.898307,head_nn,NOUN,He shook his head as if at the silliness of al...,Witnesses told of seeing severed limbs and a b...,13,17,59,63
898308,dev.head_nn.898308,head_nn,NOUN,He shook his head as if at the silliness of al...,"In preparation for this task, he wrote, he had...",13,17,183,187
898309,dev.head_nn.898309,head_nn,NOUN,He shook his head as if at the silliness of al...,The leaders of the poaching rings are in Nairo...,13,17,119,123
898310,dev.head_nn.898310,head_nn,NOUN,He shook his head as if at the silliness of al...,"Her mother, Amy, 42, shook her head in disbeli...",13,17,31,35
898311,dev.head_nn.898311,head_nn,NOUN,He shook his head as if at the silliness of al...,"Lady Agnes shook her head, wishing that her lo...",13,17,21,25

In [4]:
mask = data_input["sentence1"] == data_input["sentence2"]
data_input = data_input[~mask]
print(data_input.shape)

(898266, 9)

In [5]:
mask = data_input.duplicated(subset=["sentence1", "sentence2"], keep=False)
data_input = data_input[~mask]
print(data_input.shape)

(881480, 9)

In [6]:
data_to_be_concatenated = [pd.read_json(data) for data in Path(wic_path).rglob("*.scores")]
data_scores = pd.concat(data_to_be_concatenated, ignore_index=True)
display(data_scores)

                        id                     score
0       dev.lass_nn.606182   [0.50929916, 0.5039979]
1       dev.lass_nn.606183    [0.5063679, 0.5082553]
2       dev.lass_nn.606184   [0.50850004, 0.5062853]
3       dev.lass_nn.606185   [0.5047682, 0.50780725]
4       dev.lass_nn.606186   [0.50378984, 0.5053997]
...                    ...                       ...
898307  dev.word_nn.334597   [0.47650152, 0.4773039]
898308  dev.word_nn.334598   [0.48790744, 0.4875268]
898309  dev.word_nn.334599  [0.49101084, 0.49089596]
898310  dev.word_nn.334600    [0.5199817, 0.5211311]
898311  dev.word_nn.334601   [0.47655788, 0.4758985]

[898312 rows x 2 columns]

In [7]:
gold_data_dwug_en = pd.read_csv(path_to_gold_data_dwug_en, sep="\t")
display(gold_data_dwug_en)

,lemma,grouping,nodes,nodes1,nodes2,cluster_freq_dist,cluster_freq_dist1,cluster_freq_dist2,cluster_prob_dist,cluster_prob_dist1,cluster_prob_dist2,change_binary,change_binary_gain,change_binary_loss,change_graded,k1,n1,k2,n2
0,afternoon_nn,1_2,200,100,100,[199],[99],[100],[1.0],[1.0],[1.0],0,0,0,0.000000,1,5,1,5
1,attack_nn,1_2,200,100,100,"[179, 13, 2, 1, 1, 1, 1, 1, 1]","[93, 3, 0, 1, 1, 1, 1, 0, 0]","[86, 10, 2, 0, 0, 0, 0, 1, 1]","[0.895, 0.065, 0.01, 0.005, 0.005, 0.005, 0.00...","[0.93, 0.03, 0.0, 0.01, 0.01, 0.01, 0.01, 0.0,...","[0.86, 0.1, 0.02, 0.0, 0.0, 0.0, 0.0, 0.01, 0.01]",0,0,0,0.235223,1,5,1,5
2,bag_nn,1_2,200,100,100,"[195, 2]","[96, 1]","[99, 1]","[0.99, 0.01]","[0.99, 0.01]","[0.99, 0.01]",0,0,0,0.001310,1,5,1,5
3,ball_nn,1_2,200,100,100,"[138, 33, 5, 3, 3, 2, 2, 1, 1, 1, 1, 1, 1, 1, ...","[53, 30, 3, 2, 0, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0...","[85, 3, 2, 1, 3, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,...","[0.704, 0.168, 0.026, 0.015, 0.015, 0.01, 0.01...","[0.546, 0.309, 0.031, 0.021, 0.0, 0.021, 0.021...","[0.859, 0.03, 0.02, 0.01, 0.03, 0.0, 0.0, 0.0,...",0,0,0,0.458568,1,5,1,5
4,bar_nn,1_2,200,100,100,"[56, 20, 12, 11, 9, 8, 6, 4, 1, 1, 1, 1, 1, 1,...","[5, 15, 4, 10, 7, 4, 5, 3, 1, 1, 1, 1, 1, 1, 1...","[51, 5, 8, 1, 2, 4, 1, 1, 0, 0, 0, 0, 0, 0, 0,...","[0.295, 0.105, 0.063, 0.058, 0.047, 0.042, 0.0...","[0.054, 0.161, 0.043, 0.108, 0.075, 0.043, 0.0...","[0.526, 0.052, 0.082, 0.01, 0.021, 0.041, 0.01...",1,0,1,0.766134,1,5,1,5
5,bit_nn,1_2,200,100,100,"[136, 32, 9, 4, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, ...","[67, 16, 9, 1, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0...","[69, 16, 0, 3, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1...","[0.68, 0.16, 0.045, 0.02, 0.015, 0.01, 0.005, ...","[0.67, 0.16, 0.09, 0.01, 0.02, 0.01, 0.01, 0.0...","[0.69, 0.16, 0.0, 0.03, 0.01, 0.01, 0.0, 0.0, ...",1,0,1,0.346563,1,5,1,5
6,chairman_nn,1_2,200,100,100,[200],[100],[100],[1.0],[1.0],[1.0],0,0,0,0.000000,1,5,1,5
7,chef_nn,1_2,165,65,100,"[114, 11, 7, 4, 1, 1, 1, 1, 1, 1]","[20, 11, 7, 3, 1, 1, 1, 1, 1, 1]","[94, 0, 0, 1, 0, 0, 0, 0, 0, 0]","[0.803, 0.077, 0.049, 0.028, 0.007, 0.007, 0.0...","[0.426, 0.234, 0.149, 0.064, 0.021, 0.021, 0.0...","[0.989, 0.0, 0.0, 0.011, 0.0, 0.0, 0.0, 0.0, 0...",1,0,1,0.594965,1,5,1,5
8,circle_vb,1_2,200,100,100,"[187, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[90, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]","[97, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1]","[0.944, 0.005, 0.005, 0.005, 0.005, 0.005, 0.0...","[0.909, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0....","[0.98, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",0,0,0,0.237719,1,5,1,5
9,contemplation_nn,1_2,200,100,100,"[199, 1]","[99, 1]","[100, 0]","[0.995, 0.005]","[0.99, 0.01]","[1.0, 0.0]",0,0,0,0.070839,1,5,1,5
10,donkey_nn,1_2,200,100,100,"[195, 1, 1]","[97, 1, 0]","[98, 0, 1]","[0.99, 0.005, 0.005]","[0.99, 0.01, 0.0]","[0.99, 0.0, 0.01]",0,0,0,0.100760,1,5,1,5
11,edge_nn,1_2,200,100,100,"[159, 8, 6, 6, 3, 3, 3, 2, 1, 1, 1, 1, 1, 1, 1]","[88, 0, 2, 0, 2, 3, 1, 1, 1, 1, 1, 0, 0, 0, 0]","[71, 8, 4, 6, 1, 0, 2, 1, 0, 0, 0, 1, 1, 1, 1]","[0.807, 0.041, 0.03, 0.03, 0.015, 0.015, 0.015...","[0.88, 0.0, 0.02, 0.0, 0.02, 0.03, 0.01, 0.01,...","[0.732, 0.082, 0.041, 0.062, 0.01, 0.0, 0.021,...",1,1,0,0.364557,1,5,1,5
12,face_nn,1_2,200,100,100,"[184, 9, 1, 1, 1, 1, 1, 1]","[95, 3, 1, 1, 0, 0, 0, 0]","[89, 6, 0, 0, 1, 1, 1, 1]","[0.925, 0.045, 0.005, 0.005, 0.005, 0.005, 0.0...","[0.95, 0.03, 0.01, 0.01, 0.0, 0.0, 0.0, 0.0]","[0.899, 0.061, 0.0, 0.0, 0.01, 0.01, 0.01, 0.01]",0,0,0,0.185776,1,5,1,5
13,fiction_nn,1_2,200,100,100,"[193, 1, 1, 1]","[95, 1, 1, 1]","[98, 0, 0, 0]","[0.985, 0.005, 0.005, 0.005]","[0.969, 0.01, 0.01, 0.01]","[1.0, 0.0, 0.0, 0.0]",0,0,0,0.124410,1,5,1,5
14,gas_nn,1_2,200,100,100,"[184, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[97, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0]","[87, 4, 2, 0, 0, 1, 1, 1, 1, 1, 1, 1]","[0.925, 0.02, 0.01, 0.005, 0.005, 0.005, 0.005...","[0.98, 0.0, 0.0, 0.01, 0.01, 0.0, 0.0, 0.0, 0....","[0.87, 0.04, 0.02, 0.0, 0.0, 0.01, 0.01, 0.01,...",0,0,0,0.278304,1,5,1,5
15,graft_nn,1_2,200,100,100,"[139, 52, 1, 1, 1, 1]","[96, 1, 1, 0, 0, 0]","[43, 51, 0, 1, 1, 1]","[0.713, 0.267, 0.005, 0.005, 0.005, 0.005]","[0.98, 0.01, 0.01, 0.0, 0.0, 0.0]","[0.443, 0.526, 0.0, 0.01, 0.01, 0.01]",1,1,0,0.571701,1,5,1,5
16,grain_nn,1_2,200,100,100,"[134, 16, 12, 5, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1,...","[66, 13, 7, 3, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1...","[68, 3, 5, 2, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0.673, 0.08, 0.06, 0.025, 0.015, 0.01, 0.005,...","[0.667, 0.131, 0.071, 0.03, 0.0, 0.0, 0.01, 0....","[0.68, 0.03, 0.05, 0.02, 0.03, 0.02, 0.0, 0.0,...",0,0,0,0.432863,1,5,1,5
17,head_nn,1_2,200,100,100,"[161, 16, 10, 3, 2, 2, 2, 1, 1, 1]","[77, 6, 9, 2, 2, 2, 1, 0, 0, 0]","[84, 10, 1, 1, 0, 0, 1, 1, 1, 1]","[0.809, 0.08, 0.05, 0.015, 0.01, 0.01, 0.01, 0...","[0.778, 0.061, 0.091, 0.02, 0.02, 0.02, 0.01, ...","[0.84, 0.1, 0.01, 0.01, 0.0, 0.0, 0.01, 0.01, ...",1,0,1,0.260365,1,5,1,5
18,heel_nn,1_2,200,100,100,"[138, 12, 7, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[82, 6, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,...","[56, 6, 6, 2, 2, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,...","[0.742, 0.065, 0.038, 0.011, 0.011, 0.005, 0.0...","[0.854, 0.062, 0.01, 0.0, 0.0, 0.01, 0.01, 0.0...","[0.622, 0.067, 0.067, 0.022, 0.022, 0.0, 0.0, ...",1,1,0,0.434105,1,5,1,5
19,include_vb,1_2,200,100,100,"[199, 1]","[100, 0]","[99, 1]","[0.995, 0.005]","[1.0, 0.0]","[0.99, 0.01]",0,0,0,0.070839,1,5,1,5
20,land_nn,1_2,200,100,100,"[169, 12, 3, 1, 1, 1, 1]","[90, 3, 0, 1, 1, 0, 0]","[79, 9, 3, 0, 0, 1, 1]","[0.899, 0.064, 0.016, 0.005, 0.005, 0.005, 0.005]","[0.947, 0.032, 0.0, 0.011, 0.011, 0.0, 0.0]","[0.849, 0.097, 0.032, 0.0, 0.0, 0.011, 0.011]",0,0,0,0.227711,1,5,1,5
21,lane_nn,1_2,200,100,100,"[165, 1, 1, 1]","[83, 1, 1, 1]","[82, 0, 0, 0]","[0.982, 0.006, 0.006, 0.006]","[0.965, 0.012, 0.012, 0.012]","[1.0, 0.0, 0.0, 0.0]",0,0,0,0.132911,1,5,1,5
22,lass_nn,1_2,200,100,100,"[172, 5, 1, 1, 1, 1]","[94, 0, 0, 0, 0, 0]","[78, 5, 1, 1, 1, 1]","[0.95, 0.028, 0.006, 0.006, 0.006, 0.006]","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.897, 0.057, 0.011, 0.011, 0.011, 0.011]",1,1,0,0.231863,1,5,1,5
23,maxim_nn,1_2,200,100,100,"[160, 1, 1, 1]","[97, 0, 0, 0]","[63, 1, 1, 1]","[0.982, 0.006, 0.006, 0.006]","[1.0, 0.0, 0.0, 0.0]","[0.955, 0.015, 0.015, 0.015]",0,0,0,0.152015,1,5,1,5
24,multitude_nn,1_2,200,100,100,"[196, 2, 1, 1]","[100, 0, 0, 0]","[96, 2, 1, 1]","[0.98, 0.01, 0.005, 0.005]","[1.0, 0.0, 0.0, 0.0]","[0.96, 0.02, 0.01, 0.01]",0,0,0,0.142459,1,5,1,5
25,ounce_nn,1_2,200,100,100,"[196, 1, 1, 1]","[97, 1, 1, 0]","[99, 0, 0, 1]","[0.985, 0.005, 0.005, 0.005]","[0.98, 0.01, 0.01, 0.0]","[0.99, 0.0, 0.0, 0.01]",0,0,0,0.122964,1,5,1,5
26,part_nn,1_2,200,100,100,"[152, 20, 7, 6, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, ...","[75, 10, 2, 4, 1, 2, 0, 1, 1, 1, 1, 1, 1, 0, 0...","[77, 10, 5, 2, 1, 0, 2, 0, 0, 0, 0, 0, 0, 1, 1...","[0.76, 0.1, 0.035, 0.03, 0.01, 0.01, 0.01, 0.0...","[0.75, 0.1, 0.02, 0.04, 0.01, 0.02, 0.0, 0.01,...","[0.77, 0.1, 0.05, 0.02, 0.01, 0.0, 0.02, 0.0, ...",0,0,0,0.268955,1,5,1,5
27,pick_vb,1_2,200,100,100,"[95, 24, 23, 12, 7, 3, 3, 2, 1, 1, 1, 1, 1, 1,...","[41, 18, 9, 9, 4, 2, 0, 1, 1, 1, 1, 1, 1, 1, 1...","[54, 6, 14, 3, 3, 1, 3, 1, 0, 0, 0, 0, 0, 0, 0...","[0.475, 0.12, 0.115, 0.06, 0.035, 0.015, 0.015...","[0.41, 0.18, 0.09, 0.09, 0.04, 0.02, 0.0, 0.01...","[0.54, 0.06, 0.14, 0.03, 0.03, 0.01, 0.03, 0.0...",0,0,0,0.464866,1,5,1,5
28,pin_vb,1_2,200,100,100,"[156, 24, 7, 1, 1, 1, 1, 1, 1, 1]","[85, 7, 3, 1, 0, 0, 0, 0, 0, 0]","[71, 17, 4, 0, 1, 1, 1, 1, 1, 1]","[0.804, 0.124, 0.036, 0.005, 0.005, 0.005, 0.0...","[0.885, 0.073, 0.031, 0.01, 0.0, 0.0, 0.0, 0.0...","[0.724, 0.173, 0.041, 0.0, 0.01, 0.01, 0.01, 0...",0,0,0,0.239444,1,5,1,5
29,plane_nn,1_2,200,100,100,"[89, 66, 16, 11, 6, 5, 4, 1, 1]","[0, 64, 15, 10, 2, 4, 4, 0, 0]","[89, 2, 1, 1, 4, 1, 0, 1, 1]","[0.447, 0.332, 0.08, 0.055, 0.03, 0.025, 0.02,...","[0.0, 0.646, 0.152, 0.101, 0.02, 0.04, 0.04, 0...","[0.89, 0.02, 0.01, 0.01, 0.04, 0.01, 0.0, 0.01...",1,1,1,0.915473,1,5,1,5
30,player_nn,1_2,200,100,100,"[156, 7, 7, 5, 3, 1, 1, 1, 1, 1, 1]","[77, 6, 0, 1, 2, 1, 1, 0, 0, 0, 0]","[79, 1, 7, 4, 1, 0, 0, 1, 1, 1, 1]","[0.848, 0.038, 0.038, 0.027, 0.016, 0.005, 0.0...","[0.875, 0.068, 0.0, 0.011, 0.023, 0.011, 0.011...","[0.823, 0.01, 0.073, 0.042, 0.01, 0.0, 0.0, 0....",1,1,1,0.307704,1,5,1,5
31,prop_nn,1_2,200,100,100,"[53, 53, 34, 12, 5, 2, 2, 2, 1, 1, 1, 1, 1]","[39, 39, 2, 1, 1, 2, 0, 0, 1, 1, 1, 0, 0]","[14, 14, 32, 11, 4, 0, 2, 2, 0, 0, 0, 1, 1]","[0.315, 0.315, 0.202, 0.071, 0.03, 0.012, 0.01...","[0.448, 0.448, 0.023, 0.011, 0.011, 0.023, 0.0...","[0.173, 0.173, 0.395, 0.136, 0.049, 0.0, 0.025...",1,1,0,0.596267,1,5,1,5
32,quilt_nn,1_2,200,100,100,"[197, 3]","[100, 0]","[97, 3]","[0.985, 0.015]","[1.0, 0.0]","[0.97, 0.03]",0,0,0,0.123145,1,5,1,5
33,rag_nn,1_2,200,100,100,"[156, 9, 6, 5, 2, 1, 1, 1, 1, 1, 1, 1]","[84, 7, 2, 2, 0, 1, 1, 1, 0, 0, 0, 0]","[72, 2, 4, 3, 2, 0, 0, 0, 1, 1, 1, 1]","[0.843, 0.049, 0.032, 0.027, 0.011, 0.005, 0.0...","[0.857, 0.071, 0.02, 0.02, 0.0, 0.01, 0.01, 0....","[0.828, 0.023, 0.046, 0.034, 0.023, 0.0, 0.0, ...",0,0,0,0.253659,1,5,1,5
34,rally_nn,1_2,161,61,100,"[115, 9, 2, 2, 1, 1, 1]","[30, 7, 2, 0, 0, 0, 0]","[85, 2, 0, 2, 1, 1, 1]","[0.878, 0.069, 0.015, 0.015, 0.008, 0.008, 0.008]","[0.769, 0.179, 0.051, 0.0, 0.0, 0.0, 0.0]","[0.924, 0.022, 0.0, 0.022, 0.011, 0.011, 0.011]",0,0,0,0.329900,1,5,1,5
35,record_nn,1_2,200,100,100,"[157, 16, 10, 1, 1]","[92, 0, 0, 1, 0]","[65, 16, 10, 0, 1]","[0.849, 0.086, 0.054, 0.005, 0.005]","[0.989, 0.0, 0.0, 0.011, 0.0]","[0.707, 0.174, 0.109, 0.0, 0.011]",1,1,0,0.411335,1,5,1,5
36,relationship_nn,1_2,200,100,100,"[189, 11]","[96, 4]","[93, 7]","[0.945, 0.055]","[0.96, 0.04]","[0.93, 0.07]",0,0,0,0.056218,1,5,1,5
37,risk_nn,1_2,200,100,100,[200],[100],[100],[1.0],[1.0],[1.0],0,0,0,0.000000,1,5,1,5
38,savage_nn,1_2,200,100,100,"[196, 1]","[100, 0]","[96, 1]","[0.995, 0.005]","[1.0, 0.0]","[0.99, 0.01]",0,0,0,0.071930,1,5,1,5
39,stab_nn,1_2,192,92,100,"[121, 33, 21, 5, 2, 1, 1, 1, 1, 1]","[73, 13, 0, 1, 0, 1, 1, 0, 0, 0]","[48, 20, 21, 4, 2, 0, 0, 1, 1, 1]","[0.647, 0.176, 0.112, 0.027, 0.011, 0.005, 0.0...","[0.82, 0.146, 0.0, 0.011, 0.0, 0.011, 0.011, 0...","[0.49, 0.204, 0.214, 0.041, 0.02, 0.0, 0.0, 0....",1,1,0,0.429185,1,5,1,5
40,stroke_vb,1_2,200,100,100,"[173, 12, 4, 2, 2, 1, 1, 1, 1]","[84, 5, 2, 2, 2, 1, 1, 1, 0]","[89, 7, 2, 0, 0, 0, 0, 0, 1]","[0.878, 0.061, 0.02, 0.01, 0.01, 0.005, 0.005,...","[0.857, 0.051, 0.02, 0.02, 0.02, 0.01, 0.01, 0...","[0.899, 0.071, 0.02, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,0,0,0.205617,1,5,1,5
41,thump_nn,1_2,189,89,100,"[185, 1, 1, 1, 1]","[88, 1, 0, 0, 0]","[97, 0, 1, 1, 1]","[0.979, 0.005, 0.005, 0.005, 0.005]","[0.989, 0.011, 0.0, 0.0, 0.0]","[0.97, 0.0, 0.01, 0.01, 0.01]",0,0,0,0.143815,1,5,1,5
42,tip_vb,1_2,200,100,100,"[86, 44, 23, 10, 4, 4, 3, 2, 2, 1, 1, 1, 1, 1,...","[33, 37, 1, 5, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1...","[53, 7, 22, 5, 0, 3, 0, 1, 1, 0, 0, 0, 0, 0, 0...","[0.453, 0.232, 0.121, 0.053, 0.021, 0.021, 0.0...","[0.351, 0.394, 0.011, 0.053, 0.043, 0.011, 0.0...","[0.552, 0.073, 0.229, 0.052, 0.0, 0.031, 0.0, ...",1,1,0,0.544614,1,5,1,5
43,tree_nn,1_2,200,100,100,[199],[99],[100],[1.0],[1.0],[1.0],0,0,0,0.000000,1,5,1,5
44,twist_nn,1_2,200,100,100,"[79, 60, 18, 10, 4, 2, 2, 2, 2, 2, 2, 2, 1, 1,...","[50, 13, 11, 7, 3, 2, 2, 1, 2, 1, 0, 0, 1, 1, ...","[29, 47, 7, 3, 1, 0, 0, 1, 0, 1, 2, 2, 0, 0, 0...","[0.407, 0.309, 0.093, 0.052, 0.021, 0.01, 0.01...","[0.51, 0.133, 0.112, 0.071, 0.031, 0.02, 0.02,...","[0.302, 0.49, 0.073, 0.031, 0.01, 0.0, 0.0, 0....",0,0,0,0.456385,1,5,1,5
45,word_nn,1_2,200,100,100,"[190, 4, 3, 2, 1]","[98, 0, 1, 1, 0]","[92, 4, 2, 1, 1]","[0.95, 0.02, 0.015, 0.01, 0.005]","[0.98, 0.0, 0.01, 0.01, 0.0]","[0.92, 0.04, 0.02, 0.01, 0.01]",0,0,0,0.164040,1,5,1,5

In [8]:
target_words_dwug_en = gold_data_dwug_en["lemma"].unique().tolist()
target_words_dwug_en

['afternoon_nn',
 'attack_nn',
 'bag_nn',
 'ball_nn',
 'bar_nn',
 'bit_nn',
 'chairman_nn',
 'chef_nn',
 'circle_vb',
 'contemplation_nn',
 'donkey_nn',
 'edge_nn',
 'face_nn',
 'fiction_nn',
 'gas_nn',
 'graft_nn',
 'grain_nn',
 'head_nn',
 'heel_nn',
 'include_vb',
 'land_nn',
 'lane_nn',
 'lass_nn',
 'maxim_nn',
 'multitude_nn',
 'ounce_nn',
 'part_nn',
 'pick_vb',
 'pin_vb',
 'plane_nn',
 'player_nn',
 'prop_nn',
 'quilt_nn',
 'rag_nn',
 'rally_nn',
 'record_nn',
 'relationship_nn',
 'risk_nn',
 'savage_nn',
 'stab_nn',
 'stroke_vb',
 'thump_nn',
 'tip_vb',
 'tree_nn',
 'twist_nn',
 'word_nn']

In [9]:
data_input_expanded = data_input.merge(data_scores, on="id", how="inner")
data_input_expanded.drop(columns=["pos"], inplace=True)
display(data_input_expanded)

mask = data_input_expanded["lemma"].isin(target_words_dwug_en)
data_input_expanded_filtered = data_input_expanded[mask]
data_input_expanded_filtered = data_input_expanded_filtered.drop(columns=["start1", "end1", "start2", "end2"])
display(data_input_expanded_filtered)
print(len(data_input_expanded_filtered["lemma"].unique().tolist()))

,id,lemma,sentence1,sentence2,start1,end1,start2,end2,score
0,dev.graft_nn.0,graft_nn,A maiden plant (a tree but one year from the g...,"Fine mould or peat, from the box in which the ...",45,50,99,105,"[0.5104564, 0.51091594]"
1,dev.graft_nn.1,graft_nn,A maiden plant (a tree but one year from the g...,"For the same reason, root-grafting the pear is...",45,50,150,156,"[0.51135373, 0.51269406]"
2,dev.graft_nn.2,graft_nn,A maiden plant (a tree but one year from the g...,Grafts often bear some fine clusters the first...,45,50,0,6,"[0.5186426, 0.5208924]"
3,dev.graft_nn.3,graft_nn,A maiden plant (a tree but one year from the g...,"In all cases success is more certain, when the...",45,50,206,211,"[0.47761035, 0.47750893]"
4,dev.graft_nn.4,graft_nn,A maiden plant (a tree but one year from the g...,""" Mr. STOMS asks: ' Why graft on the quince st...",45,50,24,29,"[0.49438345, 0.48464677]"
...,...,...,...,...,...,...,...,...,...
881475,dev.head_nn.898307,head_nn,He shook his head as if at the silliness of al...,Witnesses told of seeing severed limbs and a b...,13,17,59,63,"[0.48656964, 0.4879336]"
881476,dev.head_nn.898308,head_nn,He shook his head as if at the silliness of al...,"In preparation for this task, he wrote, he had...",13,17,183,187,"[0.47082496, 0.47152326]"
881477,dev.head_nn.898309,head_nn,He shook his head as if at the silliness of al...,The leaders of the poaching rings are in Nairo...,13,17,119,123,"[0.4710024, 0.47159043]"
881478,dev.head_nn.898310,head_nn,He shook his head as if at the silliness of al...,"Her mother, Amy, 42, shook her head in disbeli...",13,17,31,35,"[0.5306703, 0.53091824]"
881479,dev.head_nn.898311,head_nn,He shook his head as if at the silliness of al...,"Lady Agnes shook her head, wishing that her lo...",13,17,21,25,"[0.53197306, 0.5315574]"

,id,lemma,sentence1,sentence2,score
0,dev.graft_nn.0,graft_nn,A maiden plant (a tree but one year from the g...,"Fine mould or peat, from the box in which the ...","[0.5104564, 0.51091594]"
1,dev.graft_nn.1,graft_nn,A maiden plant (a tree but one year from the g...,"For the same reason, root-grafting the pear is...","[0.51135373, 0.51269406]"
2,dev.graft_nn.2,graft_nn,A maiden plant (a tree but one year from the g...,Grafts often bear some fine clusters the first...,"[0.5186426, 0.5208924]"
3,dev.graft_nn.3,graft_nn,A maiden plant (a tree but one year from the g...,"In all cases success is more certain, when the...","[0.47761035, 0.47750893]"
4,dev.graft_nn.4,graft_nn,A maiden plant (a tree but one year from the g...,""" Mr. STOMS asks: ' Why graft on the quince st...","[0.49438345, 0.48464677]"
...,...,...,...,...,...
881475,dev.head_nn.898307,head_nn,He shook his head as if at the silliness of al...,Witnesses told of seeing severed limbs and a b...,"[0.48656964, 0.4879336]"
881476,dev.head_nn.898308,head_nn,He shook his head as if at the silliness of al...,"In preparation for this task, he wrote, he had...","[0.47082496, 0.47152326]"
881477,dev.head_nn.898309,head_nn,He shook his head as if at the silliness of al...,The leaders of the poaching rings are in Nairo...,"[0.4710024, 0.47159043]"
881478,dev.head_nn.898310,head_nn,He shook his head as if at the silliness of al...,"Her mother, Amy, 42, shook her head in disbeli...","[0.5306703, 0.53091824]"
881479,dev.head_nn.898311,head_nn,He shook his head as if at the silliness of al...,"Lady Agnes shook her head, wishing that her lo...","[0.53197306, 0.5315574]"

46

In [10]:
mask = data_input_expanded_filtered["sentence1"] == data_input_expanded_filtered["sentence2"]
display(data_input_expanded_filtered[mask].shape)

(0, 5)

In [11]:
annotated_data_to_be_concatenated_dwug_en = [
    pd.read_csv(
        p,
        engine="python",
        on_bad_lines="warn",
        sep="\t",
        quoting=csv.QUOTE_NONE,
        encoding="utf-8",
    )
    for p in Path(path_to_annotated_data_dwug_en).rglob("*uses.csv")
]
annotated_data_dwug_en = pd.concat(
    annotated_data_to_be_concatenated_dwug_en, ignore_index=True
)
display(annotated_data_dwug_en)

mask = annotated_data_dwug_en["lemma"].isin(target_words_dwug_en)
annotated_data_dwug_en_filtered = annotated_data_dwug_en[mask]
annotated_data_dwug_en_filtered = annotated_data_dwug_en_filtered[
    ["lemma", "grouping", "identifier", "context"]
]
# display(annotated_data_dwug_es_filtered)
annotated_data_dwug_en_filtered = annotated_data_dwug_en_filtered[
    ~annotated_data_dwug_en_filtered.duplicated(subset="context", keep=False)
]
display(annotated_data_dwug_en_filtered)

,lemma,pos,date,grouping,identifier,description,context,indexes_target_token,indexes_target_sentence,context_tokenized,indexes_target_token_tokenized,indexes_target_sentence_tokenized,context_lemmatized,context_pos
0,lane_nn,nn1,1849,1,fic_1849_7218.txt-2815-6,,As I daily passed through this lane of beggars...,31:35,0:427,As I daily passed through this lane of beggars...,6,0:95,"as i daily pass through this lane of beggar , ...",csa ppis1 rr vvn_vvd ii dd1 nn1 io nn2 y pnqs ...
1,lane_nn,nn1,1839,1,fic_1839_1484.txt-1094-13,,"On their way homeward, Flemming and the Baron ...",70:74,0:78,"On their way homeward , Flemming and the Baron...",13,0:16,"on their way homeward , flemming and the baron...",ii appge nn1 jj y np1_vvg cc at nn1 vvn_vvd ii...
2,lane_nn,nnl1,1828,1,fic_1828_7245.txt-3728-33,,"Witnesses -- Mary Wolcott, Ann Putman, Abigail...",161:165,0:199,"Witnesses -- Mary Wolcott , Ann Putman , Abiga...",33,0:43,"witness -- mary wolcott , ann putman , abigail...",nn2_vvz@ z np1 np1 y np1 np1 y np1 np1 y np1 j...
3,lane_nn,nn1,1827,1,fic_1827_7168.txt-711-47,,", and mighty in some nominal distinction which...",256:260,0:966,", and mighty in some nominal distinction which...",47,0:191,", and mighty in some nominal distinction which...",y cc jj ii dd jj nn1 ddq pphs1 vhz ppx1 vvn iw...
4,lane_nn,nnl1,1829,1,nf_1829_747740.txt-1710-25,,"I beg most kind remembrance to her, and ever a...",106:110,0:131,"I beg most kind remembrance to her , and ever ...",25,0:33,"i beg most kind remembrance to her , and ever ...",ppis1 vv0 rgt_dat jj@ nn1 ii ppho1 y cc rr ra@...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9102,pick_vb,vvd,2008,2,fic_2008_36135.txt-279-4,,"On impulse, she picked up her cell, called him...",16:22,0:84,"On impulse , she picked up her cell , called h...",4,0:21,"on impulse , she pick up her cell , call him ,...",ii nn1 y pphs1 vvd rp appge nn1 y vvn_vvd@ pph...
9103,pick_vb,vvi,1988,2,fic_1988_24002.txt-248-12,,I wanted to leave him there to fend for himsel...,52:56,0:141,I wanted to leave him there to fend for himsel...,12,0:34,i want to leave him there to fend for himself ...,ppis1 vvd to vvi ppho1 rl to vvi if ppx1 y to ...
9104,pick_vb,vvn,1974,2,mag_1974_316770.txt-12-3,,He might have picked up a jock or two in Portl...,14:20,0:61,He might have picked up a jock or two in Portl...,3,0:14,he might have pick up a jock or two in portlan...,pphs1 vm vhi vvn rp at1 nn1 cc mc ii np1 ge nn1 y
9105,pick_vb,vvn,1981,2,fic_1981_782025.txt-5359-52,,"I steered him toward the main door again, but ...",219:225,0:238,"I steered him toward the main door again , but...",52,0:57,"i steer him toward the main door again , but h...",ppis1 vvd ppho1 ii at jj nn1 rt y ccb pphs1 vv...
9106,pick_vb,vvd,2000,2,mag_2000_410592.txt-70-1,,He picked up extra cash playing guitar at some...,3:9,0:105,He picked up extra cash playing guitar at some...,1,0:19,he pick up extra cash play guitar at some smal...,pphs1 vvd rp jj nn1 vvg nn1 ii dd jj nn2 ii at...

,lemma,grouping,identifier,context
0,lane_nn,1,fic_1849_7218.txt-2815-6,As I daily passed through this lane of beggars...
1,lane_nn,1,fic_1839_1484.txt-1094-13,"On their way homeward, Flemming and the Baron ..."
2,lane_nn,1,fic_1828_7245.txt-3728-33,"Witnesses -- Mary Wolcott, Ann Putman, Abigail..."
3,lane_nn,1,fic_1827_7168.txt-711-47,", and mighty in some nominal distinction which..."
4,lane_nn,1,nf_1829_747740.txt-1710-25,"I beg most kind remembrance to her, and ever a..."
...,...,...,...,...
9102,pick_vb,2,fic_2008_36135.txt-279-4,"On impulse, she picked up her cell, called him..."
9103,pick_vb,2,fic_1988_24002.txt-248-12,I wanted to leave him there to fend for himsel...
9104,pick_vb,2,mag_1974_316770.txt-12-3,He might have picked up a jock or two in Portl...
9105,pick_vb,2,fic_1981_782025.txt-5359-52,"I steered him toward the main door again, but ..."
9106,pick_vb,2,mag_2000_410592.txt-70-1,He picked up extra cash playing guitar at some...

In [12]:
merged1 = data_input_expanded_filtered.merge(
    annotated_data_dwug_en_filtered,
    left_on=["lemma", "sentence1"],
    right_on=["lemma", "context"],
    how="inner",
).rename(columns={"identifier": "identifier1"})


merged2 = merged1.merge(
    annotated_data_dwug_en_filtered,
    left_on=["lemma", "sentence2"],
    right_on=["lemma", "context"],
    how="inner",
).rename(columns={"identifier": "identifier2"})
print(merged2.shape)

result = merged2[
    [
        "id",
        "lemma",
        "sentence1",
        "sentence2",
        "score",
        "identifier1",
        "identifier2",
        "grouping_x",
    ]
]
result["score"] = result["score"].apply(lambda x: sum(float(e) for e in x) / len(x))
result.rename(columns={"grouping_x": "grouping", "lemma": "word"}, inplace=True)
display(result)

(876446, 11)

/tmp/ipykernel_2903700/3675419771.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result["score"] = result["score"].apply(lambda x: sum(float(e) for e in x) / len(x))
/home/fzamora/miniconda3/envs/ex/lib/python3.10/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,id,word,sentence1,sentence2,score,identifier1,identifier2,grouping
0,dev.graft_nn.0,graft_nn,A maiden plant (a tree but one year from the g...,"Fine mould or peat, from the box in which the ...",0.510686,nf_1845_747928.txt-634-11,nf_1850_747863.txt-1739-22,1
1,dev.graft_nn.70,graft_nn,When the operation is performed close to the g...,"Fine mould or peat, from the box in which the ...",0.521626,nf_1844_747892.txt-595-18,nf_1850_747863.txt-1739-22,1
2,dev.graft_nn.262,graft_nn,"In the following spring, the grafted trees may...","Fine mould or peat, from the box in which the ...",0.523183,nf_1839_747931.txt-374-35,nf_1850_747863.txt-1739-22,1
3,dev.graft_nn.354,graft_nn,Grafts often bear some fine clusters the first...,"Fine mould or peat, from the box in which the ...",0.524077,nf_1848_747893.txt-2589-0,nf_1850_747863.txt-1739-22,1
4,dev.graft_nn.570,graft_nn,"It is not usual with many, either to tie, or c...","Fine mould or peat, from the box in which the ...",0.509135,nf_1845_747928.txt-273-14,nf_1850_747863.txt-1739-22,1
...,...,...,...,...,...,...,...,...
876441,dev.head_nn.890618,head_nn,"blush, the modest grace, On follies fix their ...","Her head -- was it such a head, as I should be...",0.492817,fic_1820_7562.txt-1034-23,fic_1823_7242.txt-3563-1,1
876442,dev.head_nn.882688,head_nn,"If he have not, then we may not risk a hair of...","-- "" Beautiful enthusiast, "" he said -- and th...",0.502503,fic_1822_7243.txt-5957-14,fic_1823_7242.txt-5209-23,1
876443,dev.head_nn.883393,head_nn,"Her head -- was it such a head, as I should be...","-- "" Beautiful enthusiast, "" he said -- and th...",0.481569,fic_1823_7242.txt-3563-1,fic_1823_7242.txt-5209-23,1
876444,dev.head_nn.890651,head_nn,"blush, the modest grace, On follies fix their ...","-- "" Beautiful enthusiast, "" he said -- and th...",0.484730,fic_1820_7562.txt-1034-23,fic_1823_7242.txt-5209-23,1
876445,dev.head_nn.890614,head_nn,"blush, the modest grace, On follies fix their ...","If he have not, then we may not risk a hair of...",0.498137,fic_1820_7562.txt-1034-23,fic_1822_7243.txt-5957-14,1

In [13]:
rows_with_nan = result[result.isna().any(axis=1)]  # or df[df.isnull().any(axis=1)]

print(rows_with_nan)

Empty DataFrame
Columns: [id, word, sentence1, sentence2, score, identifier1, identifier2, grouping]
Index: []

In [14]:
result.to_csv(f"{model}.scores", index=False)

In [15]:
# for tw in target_words_dwug_en:
#     mask = result["word"] == tw
#     df = result[mask]

#     print(tw, df.shape[0])
#     assert df.shape[0] <= 780

In [16]:
A = pd.DataFrame({"sentence1": ["bla bla A", "bla bla B", "bla bla C"], "sentence2": ["bla bla C", "bla bla A", "bla bla B"]})
B = pd.DataFrame({"context": ["bla bla B", "bla bla C", "bla bla A"], "identifier": ["b1", "c1", "a1"]})
display(A)
print()
display(B)

   sentence1  sentence2
0  bla bla A  bla bla C
1  bla bla B  bla bla A
2  bla bla C  bla bla B

     context identifier
0  bla bla B         b1
1  bla bla C         c1
2  bla bla A         a1

In [17]:
merged1 = A.merge(B, left_on="sentence1", right_on="context", how="left")
display(merged1)

   sentence1  sentence2    context identifier
0  bla bla A  bla bla C  bla bla A         a1
1  bla bla B  bla bla A  bla bla B         b1
2  bla bla C  bla bla B  bla bla C         c1